:root {
	--dodger-color: dodgerblue;
	--orange-color: orange;
}
html, body {
	background:#fff;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	align-items: center;
	color: #fff;
}
#frosted {
	display:none;
}
.frosted-glass {
    position: fixed;
    width: 100vw;
    height:100vh;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
}
.loginBtn {
	display: flex;
	background: #fff;
	border: 1px solid rgba(255, 255, 255, 0.9);
	padding:7px;
	background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
   	color: #636363;
	font-size: 18px;
	width: 250px;
	text-align:center;
	border-radius: 7px;
	cursor: pointer;
	justify-content: center;

}
.loginBtn:hover {
	background: #fff;
	border: 2px solid rgba(217, 215, 215, 0.9);
	padding:7px;
	background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
   	color: #fff;
	font-size: 18px;
	width: 250px;
	text-align:center;
	border-radius: 7px;
	cursor: pointer;
}
.frosted {
	display: flex;
	justify-content: end;
}
.wrapper {
	position:relative;
	padding: 20px;
	top: 50%;
	left: 50%;
	width:350px;
	height:370px;
	display: flex;
	flex-direction: column; 
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    border-radius: 5px;
}
.wrapper .form-box {
	width: 100%;
	padding:40px;
}
.form-box h2 {
	font-size: 2em;
	color: #fff;
	text-align:center;
	font-weight:600;
	margin-bottom:20px
}
.input-box {
	position: relative;
	width:100%;
	height:50px;
	border-bottom: 2px solid #f1f1f1;
	margin: 30 0px;
}
.input-box label {
	position:absolute;
	top: 50%;
	left:5px;
	transform: translateY(-50%);
	font-size:1em;
	color:#a0a2a6;
	font-weight:500;
	pointer-events: none;
	transition: .5s;
}
.input-box input:focus~label,.input-box input:valid~label {
	top:-5px;
	color: #fff;
}
/* ########################################################### */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: dodgerblue;
    padding-right: 30px;
    padding: 5px 10px;
}

/* Hide password clear and reveal buttons on IE/Edge */
.input-box input[type=password]::-ms-reveal,
.input-box input[type=password]::-ms-clear {
    display: none;
}

/* Remove background color and ensure transparency for autofill in WebKit browsers */
.input-box input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: dodgerblue!important; /* Ensures text color stays the same */
    transition: background-color 5000s ease-in-out 0s; /* Trick to make the background stay transparent */
}

/* Optional - Keep consistent color on hover, focus */
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: dodgerblue !important;
}

/* ########################################################### */
.input-box .icon {
	position:absolute;
	right:8px;
	font-size:1.2em;
	color: var(--orange-color);
	line-height:57px;
}
.logo {
	position:fixed;
	left:30px;
	top:30px;
	width:100px;
	height:75px;
	background: url('../images/logo.png') no-repeat;
	background-size: cover;
	background-position: center;
}
@media (max-width: 576px) {
    .logo {
       position:fixed;
		top:17%;
		width:100px;
		height:75px;
		left: 50%;
		background: url('../images/logo.png') no-repeat;
		background-size: cover;
		background-position: center;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

    }
}
.app-name {
	position:absolute;
	top:30px;
}
.app-name h1 {
	font-weight:bold;
	color:#fff;
	font-size:3vw;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e7e7e7;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, .8);
}
.login-footer {
	position:absolute;
	bottom:0;
	padding:15px;
	color:#f1f1f1;
	font-size:11px;
}
.page-loader-bd {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
.page-loader
{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size:40px;
	z-index:1;
	color:#fff;
}

